.App {
  text-align: center;
}
.true-title{
  background-color: chocolate;
  color: yellow;
}
.false-title{
  background-color: rgb(115, 190, 190);
  color: rgb(112, 112, 112);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
